//
// Light Sidebar(used by Light Sidebar layout only)
//

[data-dex-app-layout="light-sidebar"] {
    .app-sidebar {
        background-color: var(--dex-app-sidebar-light-bg-color);
        border-right: 0 !important;

        .hover-scroll-overlay-y {        
            @include scrollbar-color(var(--dex-app-sidebar-light-scrollbar-color), var(--dex-app-sidebar-light-scrollbar-color-hover));
        }

        .app-sidebar-logo {
            border-bottom: 1px solid var(--dex-app-sidebar-light-separator-color);
        }

        .menu {
            font-weight: $font-weight-semibold;

            .menu-item {                    
                .menu-heading {
                    color: var(--dex-app-sidebar-light-menu-heading-color) !important;
                }

                @include menu-link-default-state( 
                    $title-color: var(--dex-gray-700), 
                    $icon-color: var(--dex-gray-500), 
                    $bullet-color: var(--dex-gray-500), 
                    $arrow-color: var(--dex-gray-500),
                    $bg-color: null  
                );
                
                @include menu-link-hover-state( 
                    $title-color: var(--dex-gray-900), 
                    $icon-color: var(--dex-gray-700), 
                    $bullet-color: var(--dex-gray-700), 
                    $arrow-color: var(--dex-gray-700), 
                    $bg-color: null
                );
                
                @include menu-link-show-state( 
                    $title-color: var(--dex-gray-900), 
                    $icon-color: var(--dex-gray-700), 
                    $bullet-color: var(--dex-gray-700), 
                    $arrow-color: var(--dex-gray-700), 
                    $bg-color: null
                );
                
                @include menu-link-here-state( 
                    $title-color: var(--dex-gray-900), 
                    $icon-color: var(--dex-gray-700), 
                    $bullet-color: var(--dex-gray-700), 
                    $arrow-color: var(--dex-gray-700), 
                    $bg-color: null
                );

                @include menu-link-active-state( 
                    $title-color: var(--dex-primary), 
                    $icon-color: var(--dex-primary), 
                    $bullet-color: var(--dex-primary), 
                    $arrow-color: var(--dex-primary), 
                    $bg-color: var(--dex-app-sidebar-light-menu-link-bg-color-active)
                );
            }
        }
    } 
}