//
// sidebar
//

// General mode
.app-sidebar {    
    transition: $app-sidebar-base-transition;
}

// Utilities
.app-sidebar-minimize-d-flex,
.app-sidebar-sticky-d-flex,
.app-sidebar-collapse-d-flex,
.app-sidebar-minimize-mobile-d-flex,
.app-sidebar-collapse-mobile-d-flex {
    display: none;    
}

// Desktop mode
@include media-breakpoint-up(lg) {
    // Base
    .app-sidebar {        
        display: flex;    
        flex-shrink: 0;
        width: var(--dex-app-sidebar-width);        

        background-color: var(--dex-app-sidebar-base-bg-color);
        box-shadow: var(--dex-app-sidebar-base-box-shadow);
        border-left: var(--dex-app-sidebar-base-border-start);
        border-right: var(--dex-app-sidebar-base-border-end);

        @include property( z-index, $app-sidebar-base-z-index);
        @include property( margin-left, $app-sidebar-base-gap-start);
        @include property( margin-right, $app-sidebar-base-gap-end);
        @include property( margin-top, $app-sidebar-base-gap-top);
        @include property( margin-bottom, $app-sidebar-base-gap-bottom);
    }    

    // Vars
    :root {
        --dex-app-sidebar-width: #{$app-sidebar-base-width};
        --dex-app-sidebar-width-actual: #{$app-sidebar-base-width};

        --dex-app-sidebar-gap-start: #{$app-sidebar-base-gap-start};
        --dex-app-sidebar-gap-end: #{$app-sidebar-base-gap-end};
        --dex-app-sidebar-gap-top: #{$app-sidebar-base-gap-top};
        --dex-app-sidebar-gap-bottom: #{$app-sidebar-base-gap-bottom};
    }

    [data-dex-app-sidebar-stacked="true"] {
        --dex-app-sidebar-width: calc(var(--dex-app-sidebar-primary-width) + var(--dex-app-sidebar-secondary-width));
    }

    [data-dex-app-sidebar-minimize="on"] {
        --dex-app-sidebar-width: #{$app-sidebar-minimize-width};

        --dex-app-sidebar-gap-start: #{$app-sidebar-minimize-gap-start};
        --dex-app-sidebar-gap-end: #{$app-sidebar-minimize-gap-end};
        --dex-app-sidebar-gap-top: #{$app-sidebar-minimize-gap-top};
        --dex-app-sidebar-gap-bottom: #{$app-sidebar-minimize-gap-bottom};
    }

    [data-dex-app-sidebar-sticky="on"] {
        --dex-app-sidebar-width: #{$app-sidebar-sticky-width};

        --dex-app-sidebar-gap-start: #{$app-sidebar-sticky-gap-start};
        --dex-app-sidebar-gap-end: #{$app-sidebar-sticky-gap-end};
        --dex-app-sidebar-gap-top: #{$app-sidebar-sticky-gap-top};
        --dex-app-sidebar-gap-bottom: #{$app-sidebar-sticky-gap-bottom};
    }    

    [data-dex-app-sidebar-collapse="on"] {
        --dex-app-sidebar-width: 0px;  
    }

    // States
    .app-sidebar {
        [data-dex-app-sidebar-static="true"] & {
            position: relative;
        }

        [data-dex-app-sidebar-offcanvas="true"] & {
            display: none;
        }

        [data-dex-app-sidebar-fixed="true"] & {
            position: fixed;
            @include property( z-index, $app-sidebar-fixed-z-index);
            @include property( top, $app-sidebar-fixed-top);
            @include property( bottom, $app-sidebar-fixed-bottom);
            @include property( left, $app-sidebar-fixed-left);
        }  

        [data-dex-app-sidebar-stacked="true"] & {
            align-items: stretch; 
        }

        [data-dex-app-sidebar-sticky="on"] & {
            position: fixed;
            transition: $app-sidebar-base-transition;
            @include property( top, $app-sidebar-sticky-top);
            @include property( bottom, $app-sidebar-sticky-bottom);
            @include property( left, $app-sidebar-sticky-left);
            @include property( z-index, $app-sidebar-sticky-z-index);

            box-shadow: var(--dex-app-sidebar-sticky-box-shadow);
            border-left: var(--dex-app-sidebar-sticky-border-start);
            border-right: var(--dex-app-sidebar-sticky-border-end);

            @include property( margin-left, $app-sidebar-sticky-gap-start);
            @include property( margin-right, $app-sidebar-sticky-gap-end);
            @include property( margin-top, $app-sidebar-sticky-gap-top);
            @include property( margin-bottom, $app-sidebar-sticky-gap-bottom);
        }

        [data-dex-app-sidebar-minimize="on"] & {
            transition: $app-sidebar-base-transition;

            background-color: var(--dex-app-sidebar-minimize-bg-color);
            box-shadow: var(--dex-app-sidebar-minimize-box-shadow);
            border-left: var(--dex-app-sidebar-minimize-border-start);
            border-right: var(--dex-app-sidebar-minimize-border-end);

            @include property( margin-left, $app-sidebar-minimize-gap-start);
            @include property( margin-right, $app-sidebar-minimize-gap-end);
            @include property( margin-top, $app-sidebar-minimize-gap-top);
            @include property( margin-bottom, $app-sidebar-minimize-gap-bottom);
        }

        [data-dex-app-sidebar-hoverable="true"] & {
            .app-sidebar-wrapper {
                width: var(--dex-app-sidebar-width-actual); 
            }
        }

        [data-dex-app-sidebar-hoverable="true"][data-dex-app-sidebar-minimize="on"] &:hover:not(.animating) {
            transition: $app-sidebar-base-transition;
			width: var(--dex-app-sidebar-width-actual);
            @include property( box-shadow, $app-sidebar-minimize-hover-box-shadow);
        }

        [data-dex-app-sidebar-collapse="on"] & {
            transition: $app-sidebar-base-transition;
            width: var(--dex-app-sidebar-width-actual);
            margin-left: calc( -1 * var(--dex-app-sidebar-width-actual));
        }
    }

    // Utilities
    [data-dex-app-sidebar-minimize="on"] {
        .app-sidebar-minimize-d-none {
            display: none !important;    
        }

        .app-sidebar-minimize-d-flex {
            display: flex !important;    
        }
    }

    [data-dex-app-sidebar-sticky="on"] {
        .app-sidebar-sticky-d-none {
            display: none !important;    
        }

        .app-sidebar-sticky-d-flex {
            display: flex !important;    
        }
    } 

    [data-dex-app-sidebar-collapse="on"] {
        .app-sidebar-collapse-d-none {
            display: none !important;    
        }

        .app-sidebar-collapse-d-flex {
            display: flex !important;    
        }
    }

    // Integration
    .app-sidebar {
        // Header
        [data-dex-app-sidebar-fixed="true"][data-dex-app-header-fixed="true"]:not([data-dex-app-sidebar-push-header="true"]) & {
            top: var(--dex-app-header-height);
        }

        // Toolbar
        [data-dex-app-sidebar-fixed="true"][data-dex-app-header-fixed="true"][data-dex-app-toolbar-fixed="true"]:not([data-dex-app-sidebar-push-toolbar="true"]) & {
            top: calc(var(--dex-app-header-height) + var(--dex-app-toolbar-height, 0px));
        }
    }
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
    // Base
    .app-sidebar {
        display: none;
        width: var(--dex-app-sidebar-width);

        background-color: var(--dex-app-sidebar-base-bg-color-mobile);
        box-shadow: var(--dex-app-sidebar-base-box-shadow-mobile);
        border-left: var(--dex-app-sidebar-base-border-start-mobile);
        border-right: var(--dex-app-sidebar-base-border-end-mobile);

        @include property( z-index, $app-sidebar-base-z-index-mobile);
        @include property( margin-left, $app-sidebar-base-gap-start-mobile);
        @include property( margin-right, $app-sidebar-base-gap-end-mobile);
        @include property( margin-top, $app-sidebar-base-gap-top-mobile);
        @include property( margin-bottom, $app-sidebar-base-gap-bottom-mobile);
    }

    // Vars
    :root {
        --dex-app-sidebar-width: #{$app-sidebar-base-width-mobile};
        --dex-app-sidebar-width-actual: #{$app-sidebar-base-width-mobile};

        --dex-app-sidebar-gap-start: #{$app-sidebar-base-gap-start-mobile};
        --dex-app-sidebar-gap-end: #{$app-sidebar-base-gap-end-mobile};
        --dex-app-sidebar-gap-top: #{$app-sidebar-base-gap-top-mobile};
        --dex-app-sidebar-gap-bottom: #{$app-sidebar-base-gap-bottom-mobile};
    }

    [data-dex-app-sidebar-minimize-mobile="on"] {
        --dex-app-sidebar-width: #{$app-sidebar-minimize-width-mobile};

        --dex-app-sidebar-gap-start: #{$app-sidebar-minimize-gap-start-mobile};
        --dex-app-sidebar-gap-end: #{$app-sidebar-minimize-gap-end-mobile};
        --dex-app-sidebar-gap-top: #{$app-sidebar-minimize-gap-top-mobile};
        --dex-app-sidebar-gap-bottom: #{$app-sidebar-minimize-gap-bottom-mobile};
    }

    [data-dex-app-sidebar-collapse-mobile="on"] {
        --dex-app-sidebar-width: 0px;
    }

    // States
    .app-sidebar {
        [data-dex-app-sidebar-stacked="true"] & {
            align-items: stretch; 
        }
            
        [data-dex-app-sidebar-minimize-mobile="on"] & {
            transition: $app-sidebar-base-transition;

            background-color: var(--dex-app-sidebar-minimize-bg-color-mobilee);
            box-shadow: var(--dex-app-sidebar-minimize-box-shadow-mobile);
            border-left: var(--dex-app-sidebar-minimize-border-start-mobile);
            border-right: var(--dex-app-sidebar-minimize-border-end-mobile);

            @include property( margin-left, $app-sidebar-minimize-gap-start-mobile);
            @include property( margin-right, $app-sidebar-minimize-gap-end-mobile);
            @include property( margin-top, $app-sidebar-minimize-gap-top-mobile);
            @include property( margin-bottom, $app-sidebar-minimize-gap-bottom-mobile);
        }

        [data-dex-app-sidebar-hoverable-mobile="true"] & {
            .app-sidebar-wrapper {
                width: var(--dex-app-sidebar-width-actual); 
            }
        }

        [data-dex-app-sidebar-hoverable-mobile="true"][data-dex-app-sidebar-minimize-mobile="on"] &:hover:not(.animating) {
            transition: $app-sidebar-base-transition;
			width: var(--dex-app-sidebar-width-actual);
            box-shadow: var(--dex-app-sidebar-minimize-hover-box-shadow-mobile); 
        }

        [data-dex-app-sidebar-collapse-mobile="on"] & {
            transition: $app-sidebar-base-transition;
            width: var(--dex-app-sidebar-width-actual);
            margin-left: calc( -1 * var(--dex-app-sidebar-width-actual));
        }
    }

    // Utilities
    [data-dex-app-sidebar-minimize-mobile="on"] {
        .app-sidebar-minimize-mobile-d-none {
            display: none !important;    
        }

        .app-sidebar-minimize-mobile-d-flex {
            display: flex !important;    
        }
    }

    [data-dex-app-sidebar-collapse-mobile="on"] {
        .app-sidebar-collapse-mobile-d-none {
            display: none !important;    
        }

        .app-sidebar-collapse-mobile-d-flex {
            display: flex !important;    
        }
    }
}