

// Image thumbnails
.img-thumbnail {
	background-color: var(--dex-thumbnail-bg);
	border: $thumbnail-border-width solid var(--dex-thumbnail-border-color);
	@include box-shadow(var(--dex-thumbnail-box-shadow));
}

.figure-caption {
	color: var(--dex-figure-caption-color);
}
