//
// Custom Header(used by Light Sidebar layout only)
//

[data-dex-app-layout="light-sidebar"] {
    .app-header {
        background-color: transparent;    
        box-shadow: none;
        border-bottom: 1px solid var(--dex-app-sidebar-light-separator-color);
    }

    // Desktop mode
    @include media-breakpoint-up(lg) {
        .app-header-menu {
            .menu {
                // Menu root item
                > .menu-item {
                    @include menu-link-here-state( 
                        $title-color: var(--dex-primary), 
                        $icon-color: var(--dex-primary), 
                        $bullet-color: var(--dex-primary), 
                        $arrow-color: var(--dex-primary), 
                        $bg-color: var(--app-sidebar-light-header-menu-link-bg-color-active),
                        $all-links: false
                    );

                    @include menu-link-active-state( 
                        $title-color: var(--dex-primary), 
                        $icon-color: var(--dex-primary), 
                        $bullet-color: var(--dex-primary), 
                        $arrow-color: var(--dex-primary), 
                        $bg-color: var(--app-sidebar-light-header-menu-link-bg-color-active),
                        $all-links: false
                    );
                }
            }
        }
    }
}