//
// Input group
//

.input-group-text {
	color: var(--dex-input-group-addon-color);
	background-color: var(--dex-input-group-addon-bg);
	border: $input-border-width solid var(--dex-input-group-addon-border-color);
}
